<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="it.nexbit.cuba.security.forgotpassword"/>
    <!-- Register custom cuba_LoginPasswordAuthenticationProvider -->
    <bean id="cuba_LoginPasswordAuthenticationProvider"
          class="it.nexbit.cuba.security.forgotpassword.core.LoginOrEmailPasswordAuthenticationProvider"/>

</beans>
